body{
    font-family: 'Raleway';
    font-style: normal;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.all__padding{
    padding: 0 10%;
}
/*------------------------------------header------------------------------------*/
header{
    background-color: black;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    padding: 25px 0;
    margin: 0 40px 0 0;
}
.header__language {
    display: flex;
    flex-direction: row;
    padding: 29px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7D7D7D;
    margin: 0 70px 0 0;
}
.language__ru {
    margin: 0 4px 0 0;
    cursor: pointer;
}
.active {
    color: #D8D8D8;
}
.language__en {
    margin: 0 0 0 4px;
    cursor: pointer;
}
a{
    color: none;
}
.header__menu {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 70px 0 0;
}
.menu__button a{
    color: #7D7D7D;
}
.menu__button{
    margin: 0 24px 0 0;
}
.menu__button:last-child{
    margin: 0;
}
.language__ru:hover, .language__en:hover, .menu__button a:hover{
    color: #D8D8D8;
}
.header__icons {
    padding: 30px 0;
}
.header__icons a{
    margin: 0 19px 0 0;
}
.header__basket {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto 0;
    padding: 11px;
    border: 1px solid #FFF;
}

/*------------------------------------main------------------------------------*/

.main {
    position: relative;
    background:url(../img/ZARYAD_background.png) no-repeat center 40px,url(../img/blurs.png) no-repeat center , #000;
    background-size: calc(100%-700px), auto;
}
.main__slider {
    padding: 180px 0 130px 0;
}
.slider__item{
    position: relative;
    padding: 60px 0 0 0;
}
.slider__item img{
    width: 50%;
    margin:0 auto;
}
.slider__item__text {
    position: absolute;
    top: 60px;
    right: 40%;
    display: flex;
    flex-direction: column;
	width: 100%;
    padding:48px 0 0 0;
}
.item__text__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #F5F5F5;
    max-width: 281px;
    margin: 0 0 10px 0;
}
.item__text__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #F5F5F5;
    max-width: 177px;
    margin: 0 0 32px 0;
}
.item__circle{
    width: 125px;
    height: 125px;
    border: 1px solid #F5F5F5;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    background: url(../img/icons/play.png) center no-repeat;
    color: #F5F5F5;
}
.item__circle p{
    animation: circle 15s infinite linear;
}
@keyframes circle{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.item__catalog__button {
    position: absolute;
    border-radius:50%;
    background-color: #FFF;
    color: #333333;
    width: 150px;
    height: 150px;
    font-size: 16px;
    line-height: 20px;
    transform: rotate(15deg);
    top: 0px;
    right: 20%;
    z-index: 10;
    overflow: visible;
}
.slider__arrow {
    position: absolute;
    width: calc(50% + 180px);
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.slider__arrow__prev {
    position: absolute;
    left:0;
}
.slider__arrow__next {
    position: absolute;
    right: 0;
}


/*------------------------------------choice------------------------------------*/

.choice {
    position: relative;
    padding-top: 103px;
    overflow-x:hidden;
    overflow-y: visible;
}
.choice__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    color: #333333;
    margin: 0 0 43px 0;
}
.choice__product {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 293px 0;
}
.product__card {
    display:flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}
.card__image {
    margin: 0 0 16px 0;
    max-width: 282px;
    width: 100%;
}
.card__name {
    margin: 0 0 8px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}
.card__price {
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
.card__more {
    display:flex;
    flex-direction: row;
    width: 100%;
}
.more__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
    border: 1px solid #BCBCBC;
    padding: 12px 19px;
    border-radius: 30px 0px 0px 30px;
}
.more__button {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 210px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 24px;
    border: 1px solid #333333;
    border-radius: 0px 30px 30px 0px;
}
.more__button p{
    margin: 0 10px 0 0;
}
.more__button span{
}

.ticker__blue, .ticker__white{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:absolute;
    margin: 0 0 0 -20%;
    width: 200%;
    padding: 19px 0;
}
.ticker__blue{
    background-color:#0178F3;
    transform: rotate(5.09deg);
    color: #F5F5F5;
    top: 830px;
}
.ticker__white{
    background: #F5F5F5;
    border: 1px solid #333333;
    transform: rotate(-2.51deg);
    top: 780px;
    color: #333333;
}
.ticker__blue p, .ticker__white p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
.ticker__blue p{
    animation: ticker__blue 15s linear infinite;
}
.ticker__white p{
    animation: ticker__white 15s linear infinite;
}

@keyframes ticker__blue {
    0% { 
    transform: translateX(100%) }
    100% { 
    transform: translateX(-100%); }
    }

@keyframes ticker__white {
    0% { 
    transform: translateX(-100%) }
    100% { 
    transform: translateX(100%); }
    }

/*------------------------------------about------------------------------------*/

.about {
    background-color: #000;
    padding-top: 100px;
}
.about__test {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.test__text {
    color: #F5F5F5;
    width: 100%;
    max-width: 650px;
    margin: 0 0 55px 0;
}
.test__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    margin: 0 0 24px 0;
}
.test__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.test__content {
    position:relative;
    width: 100%;
    background: url(../img/ZARYAD_background.png) center 35% no-repeat,url(../img/icons/background_orange.png) 10% 10% no-repeat, url(../img/icons/background_blue.png) 90% 100% no-repeat;
    background-size: 80% auto,568px 568px, 524px 524px;
    padding: 0 0 650px 0;
}
.test__img {
    position: absolute;
    top:0%;
    left: 10%;
    width: 100%;
    max-width: 1048px;
}
.test__button {
    position:absolute;
    top: 55%;
    right: 20%;
    border-radius: 50%;
    background-color: #FFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    width: 150px;
    height: 150px;
}

.about__brand {
    background-color: #FFF;
    margin: 0 0 0 10%;
    padding: 100px 10% 100px 160px;
    border-radius: 50px 0 0 50px;
}
.about__brand__content{
    display:flex;

    width: 100%;
    max-width: 1200px;
}
.brand__text {
    width: 100%;
    max-width: 491px;
    color: #333333;
    margin: 0 134px 0 0;
}
.brand__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    margin: 0 0 24px 0;
}
.brand__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 40px 0;
}
.brand__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F64F00;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #F64F00;
}
.brand__content {
    display:flex;
    flex-direction: column;
    padding: 79px 0 0 0;
    background-color: #FFF;
}
.brand__content__item {
    width: 100%;
}
.content__item__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin: 0 0 16px 0;
}
.content__item__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7D7D7D;
    margin: 0 0 40px 0;
}
.content__item__img {
    width: 100%;
}

/*------------------------------------discount------------------------------------*/

.discount {
    background-color: #000;
    overflow: hidden;
    margin: 0;
}
.discount__content{
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    position:relative;
    width: 100%;
    max-width: 1200px;
}
.discount__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:700px;
    padding: 117px 0 156px 0;
}
.discount__title {
    font-weight: 700;
    font-size: 90px;
    line-height: 104px;
    color:#000;
    margin: 0 0 40px 0;
    -webkit-text-stroke: 1px #BCBCBC;
}
.discount__title p:nth-child(2){
    position:relative;
    text-indent: 76px; 
}
.discount__title:first-child{
    position: relative;
}
.discount__subtitle {
    margin: 0 0 32px 0;
}
.img__lightning{
    position: absolute;
    top: -30px;
    left:280px;

    padding: 60px;
    background:url(../img/icons/background_blue.png) no-repeat center ;
    background-size: 80%;
}
.img__percent {
    position: absolute;
    top: -30px;
    left: -60px;
    padding: 60px;
    background:url(../img/icons/background_orange.png) no-repeat center ;
    background-size: 80%;
}
.discount__price{
    color:#FFF;
    -webkit-text-stroke: 0;
}
.discount__input {
    margin: 0 0 56px 0;
    background-color: #000;
    border-bottom: 1px solid #7D7D7D;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7D7D7D;
    padding: 0 0 10px 0;
    width:445px;
}
.discount__button {
    border-radius:50%;
    background-color: #FFF;
    width: 150px;
    height: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.discount__img{
    position: absolute;
    top:117px;
    right: 40px;
}
.discount__img__circle{
    border-radius:50%;
    border: 1px solid #333333;
    min-width: 736px;
    height: 736px;
    padding: 40px 0 0 40px;
    margin: 0 -300px 0 0;
}
.discount__img__picture {
    border-radius:655px;
    background:url(../img/discount.png) 100% no-repeat;
    width: 655px;
    height: 655px;
}

/*------------------------------------footer------------------------------------*/
footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__info {
    display:flex;
    flex-direction: column;
    padding: 106px 100px 0 0;
}
.footer__logo {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 55px 0;
}
.footer__logo__img{
    height: 27px;
    width: 261px;
    margin: 0 50px 0 0;
}
.footer__media {
    display: flex;
    flex-direction: row;
}
.media__telegramm {
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
}
.media__vk {
    width: 40px;
    height: 40px;
}
.footer__text {
    display:grid;
    grid-template-columns:186px 186px ;
    grid-template-rows: 64px 80px 64px 64px;
    grid-template-areas:"name name"
                        "address address"
                        "phone email"
                        "INN OGRN";
}
.text__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #BCBCBC;
}
.text__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.text__name {
    grid-area: name;
}
.text__address {
    grid-area: address;
}
.text__phone {
    grid-area: phone;
}
.text__email {
    grid-area: email;
}
.text__INN {
    grid-area: INN;
}
.text__OGRN {
    grid-area: OGRN;
}
.footer__sup{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding:68px 0 100px 0;
}
.footer__sup, .footer__sup a{
    color: #7D7D7D;
}
.footer__about {
    position: relative;
    display: grid;
    grid-template-columns: 280px 1fr ;
    grid-template-rows: 238px 144px;
    grid-template-areas:"brend partners"
                        "buyers buyers";
    padding: 189px 0 0 0;
}
.about__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin: 0 0 24px 0;
}
.about__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.about__list li{
    margin: 0 0 16px 0;
}
.about__list li:last-child{
    margin: 0;
}
.about__brend {
    grid-area: brend;
}

.about__partners {
    grid-area: partners;
}
.about__buyers {
    grid-area: buyers;
}
.about__buyers__list{
    display: grid;
    grid-template-columns: 280px 280px 1fr ;
    grid-template-rows: 100px;
    grid-template-areas:"left right dev";
}
.left__list{
    grid-area: left;
}
.right__list{
    grid-area: right;
}
.footer__connection {
    position: absolute;
    top: 85px;
    right: 0;
    width: 150px;
    height: 150px;
    padding: 0 35px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F64F00;
    border-radius: 50%;
    border: 1px solid #F64F00;
}
.footer__developed {
    display: flex;
    align-items: flex-end;
    grid-area: dev;
}